#section {
    width: 425px;
}

#section .article {
	margin-top: 50px;
    border-radius: 10px;
    float: left;
    min-height: 200px;
    height: 200px;
    width: 425px;
}

#section .sidebar {
    display: none;
}

form {
    width: 410px;
}